@model CryptoView.Web.Models.Connections.ConnectionViewModel
@{
    ViewData["Title"] = "Delete connector";
}

<h1>Delete connector</h1>
<h3>Are you sure you want to delete?</h3>

<div asp-validation-summary="All" class="text-danger m-2"></div>

<form id="createConnector" asp-action="Delete">
    <div class="mb-3">
        <label for="ExchangeId" class=form-label>Exchange Id</label>
        <select class="form-select" asp-for="ExchangeId" asp-items=@Model.Exchanges disabled>
            <option selected>Select source...</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="ApiKey" class=form-label>Api Key</label>
        <input type="text" class="form-control" id="ApiKey" name="ApiKey" value="@Model?.ApiKey" disabled/>
    </div>
    <div class="mb-3">
        <label for="ApiSecret" class=form-label>Api Secret</label>
        <input type="password" class="form-control" id="ApiSecret" name="ApiSecret" value="@Model?.ApiSecret" disabled/>
    </div>
    <div class=mb-3>
        <a class="btn btn-warning" asp-action="Index">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>